$baseCardWidth: 200px;

.catalog {
  display: grid;
  grid-gap: 48px;
  justify-content: center;

  @media (max-width: 488px) {
    grid-template-columns: $baseCardWidth;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $baseCardWidth);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $baseCardWidth);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $baseCardWidth);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $baseCardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
